.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  pointer-events: none;
}
.vignette {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.vignette-dark {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.92) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  mix-blend-mode: multiply;
}

.vignette-music {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.97) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  mix-blend-mode: multiply;
}
@import 'tailwindcss';

@theme {
  --font-syne: 'Syne', sans-serif;
  --font-dm-mono: 'DM Mono', monospace;
}

.bg-dev {
  background-image: url('/keyboard.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-music {
  background-image: url('/fretboard.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
